<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email me</title>

</head>
<body>
  <form action="mailto:<%= email %>" method="POST" enctype="text/plain" name="EmailForm" class="email-form">
    Send an email:<br>
    <textarea name="Listing Inquiry" rows="8" cols="36">
    </textarea><br><br>
    <button type="submit" value="Submit" class="send-button">Send</button>
  </form>
</body>
</html>
