// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

/* styles.css */

/* Style for the heart icon */
.heart-icon {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin-right: 5px;

}