// See: https://sass-lang.com/

body,
html {
  margin: 0;
}

/* styles.css */

/* Style for the heart icon */
.heart-icon {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
  /* Add a pointer cursor to indicate it's clickable */

}

.red-heart {
  color: red;
  fill: red;
  /* Change the SVG fill color to red */
}

.img-sold {
  position: absolute;
  top: 0px;
  right: 0px;
}

.img-sold-card {
  position: absolute;
  top: 0px;
  right: 0px;
  max-width: 100px;
  max-height: 100px;
}